
* {
  cursor: url('../assets/actarrow.png'), auto;
}

#mainContainer {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 30px;
  grid-gap: 5px;
  justify-items: center;
}

#guiContainer {
  padding-bottom: 10px;
}

#screen {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  cursor: none;
  &:focus {
    outline: none;
  }
}

html {
  background-color: black;
  color: beige;
}

body {
  margin: 0px;
}

button {
  margin-right: 5px;
}

select {
  margin-right: 5px;
}